@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

:root {
	--VeryDarkGrayishBlue: hsl(217, 19%, 35%);
	--DesaturatedDarkBlue: hsl(214, 17%, 51%);
	--GrayishBlue: hsl(212, 23%, 69%);
	--LightGrayishBlue: hsl(210, 46%, 95%);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--black);
	border-left: 1px solid var(--gold);
}

::-webkit-scrollbar-thumb {
	background: var(--gradient-golden);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--gold);
}

*,
*:before,
*:after {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Manrope", "sans-serif";
}

main {
	height: 100%;
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--LightGrayishBlue);
}

.container {
	position: relative;
	width: 90%;
	/* height: 90%; */
	/* max-height: 70rem; */
	/* display: flex; */
	background-color: #ffffff;
	/* margin: 3rem auto; */
	box-shadow: 0 1px 8px 0 #00000067;
	border-radius: 1rem;
	overflow: hidden;
}

.imageContainer {
	width: 100%;
}

.imageContainer img {
	width: 100%;
}

.infoContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	font-size: 1rem;
	color: var(--VeryDarkGrayishBlue);
	font-weight: 800;
	margin: 1rem 0;
}

.infoContainer > p {
	font-size: 0.8rem;
	color: var(--DesaturatedDarkBlue);
	font-weight: bold;
	margin: 0.5rem 0;
}

.userProfile {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2rem 0 0.5rem;
}

.user {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.profileImage {
	width: 3rem;
	border-radius: 50%;
}

.userDetails {
	margin: 0 0.5rem;
}

.userDetails p:first-child {
	color: var(--VeryDarkGrayishBlue);
	font-weight: bold;
	font-size: 1.1rem;
}
.userDetails p:last-child {
	font-weight: bold;
	color: var(--DesaturatedDarkBlue);
}

.share {
	z-index: 10;
}

.shareIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--LightGrayishBlue);
	padding: 1rem;
	border-radius: 50%;
	transition: 0.4s ease;
	z-index: 10;
}

.shareIcon svg {
	z-index: 5;
}

.shareIcon svg path {
	fill: var(--VeryDarkGrayishBlue);
}

.shareIcon:hover svg path {
	transition: 0.4s ease;
	fill: whitesmoke;
}

.shareActivated {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	padding: 2rem;
	align-items: center;
	justify-content: flex-start;
	background: var(--VeryDarkGrayishBlue);
	z-index: -1;
	transition: 0.4s ease;
}

@media screen and (max-width: 1024px) {
	.shareActivated {
		transform: translateY(100%);
	}

	.shareIcon:hover + .shareActivated,
	.shareActivated:hover {
		transform: translateY(0);
	}
}

.shareIcon:hover {
	background: var(--DesaturatedDarkBlue);
	cursor: pointer;
	z-index: 10;
}

.shareActivated p {
	color: var(--DesaturatedDarkBlue);
	font-weight: bold;
	letter-spacing: 3px;
	margin-right: 0.5rem;
}

.socialIcons a {
	margin: 0.5rem;
}

@media screen and (min-width: 1024px) {
	.container {
		width: 100%;
		max-width: 55rem;
		height: 18rem;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: visible;
	}

	.imageContainer {
		width: 40%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-radius: 1rem 0 0 1rem;
	}

	.imageContainer img {
		width: 120%;
		height: 100%;
	}

	.infoContainer {
		width: 60%;
		position: relative;
		padding: 0.5rem 2rem;
	}

	h2 {
		font-size: 1.1rem;
	}

	.infoContainer > p {
		font-size: 0.85rem;
	}

	.userProfile {
		margin: 0.5rem 0;
	}

	.profileImage {
		width: 4rem;
	}

	.userDetails {
		margin: 0 0.5rem;
	}

	.userDetails p:first-child {
		color: var(--VeryDarkGrayishBlue);
		font-weight: bold;
		font-size: 1.1rem;
	}
	.userDetails p:last-child {
		font-weight: bold;
		color: var(--DesaturatedDarkBlue);
	}

	.shareActivated {
		width: 20rem;
		transform: translate(97.5%, -5.5rem);
		border-radius: 1rem;
		justify-content: space-between;
		display: none;
	}

	.shareActivated p {
		color: var(--DesaturatedDarkBlue);
		font-weight: bold;
		letter-spacing: 3px;
		margin-right: 0.5rem;
	}

	.triangleDown {
		position: absolute;
		top: 95%;
		left: 50%;
		transform: translateX(-50%);
		border-top: 1rem solid var(--VeryDarkGrayishBlue);
		border-right: 1rem solid transparent;
		border-left: 1rem solid transparent;
		z-index: 12;
	}

	.shareIcon:hover + .shareActivated,
	.shareActivated:hover {
		display: flex;
	}
}

.attribution {
	width: 100%;
	background-color: var(--DesaturatedDarkBlue);
	text-align: center;
	padding: 2rem 0.5rem;
}
